.icon {
  width: 24px;
  height: 24px;
}

.ungrouped {
  fill: var(--dimBodyColor);
  transition: fill 0.2s;
  &:hover {
    fill: var(--highlightColor);
  }
}

.grouped {
  &:hover {
    .grouped__fill {
      fill: var(--highlightColor);
    }
    .grouped__stroke {
      stroke: var(--highlightColor);
    }
  }
}

.icon--active {
  fill: none;
  .grouped__fill {
    fill: var(--bodyColor);
  }
  .grouped__stroke {
    stroke: var(--bodyColor);
  }
}

.grouped__fill {
  fill: var(--dimBodyColor);
  transition: fill 0.2s;
}

.grouped__stroke {
  stroke: var(--dimBodyColor);
  transition: stroke 0.2s;
}

.icon--active {
  fill: var(--bodyColor);
}

.leaderboard-header {
  display: flex;
  align-items: center;
}
