.homepage {
  h2 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-areas:
      'news news'
      'nav activity';
    grid-template-columns: 1fr 2fr;
    gap: 15px;
  }
}

.homepage__nav {
  grid-area: nav;
  @media (max-width: 767px) {
    display: none;
  }
  a {
    text-decoration: none;
    font-weight: normal;
  }
  ul {
    list-style: none;
  }
  li {
    margin: 3px 0;
  }
  & > ul {
    padding: 0;
    & > li {
      margin: 7px 0;
    }
    &:not(:first-of-type) {
      border-top: 1px solid var(--borderColor);
    }
    & > ul {
      padding: 0 0 0 20px;
      border-left: 1px solid var(--borderColor);
    }
  }
}

.homepage__news {
  grid-area: news;
  > .homepage__news-element {
    a {
      text-decoration: underline;
      font-weight: normal;
    }

    color: var(--bodyColor);
    background-color: var(--background-color);

    position: relative;
    padding: 0.75rem 1rem;
    border: 1px solid var(--borderColorDim);
    border-radius: 0.25rem;
  }
}

.homepage__recent-activity {
  grid-area: activity;
}
