.nav {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  a {
    color: var(--bodyColor);
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .nav-link {
    padding: 0 4px;
  }
}

.nav--modes {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  overflow-x: auto;
  .nav-link {
    margin: 20px 8px;
    &:after {
      bottom: 0px;
    }
  }

  .nav-menu-button:hover .nav-link {
    &:after {
      background-color: var(--dimBodyColor);
    }
  }

  @media (min-width: 650px) {
  }
}

.nav--modes__menu {
  margin-top: 0;
  &:before {
    content: '';
    display: block;
    margin-top: -23px;
    margin-left: 16px;
    /* margin-right: 6px; */
    margin-bottom: 7px;
    background: var(--background-color);
    width: 14px;
    height: 14px;
    transform: rotate(45deg) translate(6px, 6px);
    box-shadow: -1px -1px 0 0 gainsboro;
    .dark-theme & {
      box-shadow: -1px -1px 0 0 #5a5a5a;
    }
  }
}

.nav__icon {
  stroke: var(--mediumBodyColor);
  width: 26px;
  height: 26px;
  transition: fill 0.2s, stroke 0.2s;
  &:hover {
    stroke: var(--dimBodyColor);
  }
  @media (max-width: 499px) {
    width: 22px;
    height: 22px;
  }
}

.dark-theme .nav__icon {
  stroke: var(--dimBodyColor);
  &:hover {
    stroke: var(--mediumBodyColor);
  }
}

.nav__icon--moon {
  stroke: none;
  fill: var(--mediumBodyColor);
  &:hover {
    stroke: none;
    fill: var(--dimBodyColor);
  }

  .dark-theme & {
    fill: var(--dimBodyColor);
    stroke: none;
    &:hover {
      stroke: none;
      fill: var(--mediumBodyColor);
    }
  }
}

.nav__icon--translate {
  height: 22px;
  margin-right: 5px;
}

.nav-link {
  position: relative;
  text-align: center;
  white-space: nowrap;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    pointer-events: none;
    transition: background-color 0.2s;
  }
}

[data-bold-toggle] {
  position: relative;
  display: inline-block;
  /* pre calculates bold size to prevent gitter when changing weights */
  &:before {
    content: attr(data-bold-toggle);
    display: block;
    font-weight: 600;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
}

.nav--modes__menu .separator {
  margin-bottom: 11px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 1px;
    background: gainsboro;
    .dark-theme & {
      background: #5a5a5a;
    }
  }
}

.nav-link:hover:not(.nav-link--active) {
  &:after {
    background-color: var(--dimBodyColor);
  }
}

.nav-link--active {
  color: var(--highlightColor);
  font-weight: 600;
  &:after {
    background-color: var(--highlightColor);
  }
}
