.leaderboard-title {
  font-size: var(--ts-7);
  font-weight: 600;
  margin: 0.25em 0;
}

.leaderboard-title__sub {
  font-size: var(--ts-6);
  font-weight: 600;
}

.leaderboard-description {
  margin-top: 0.5em;
}
