.rival-table {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table a,
  ul a {
    text-decoration: none;
  }

  td {
    padding: 10px;
  }

  tr {
    border-bottom: 1px solid var(--borderColor);
    line-height: 1.5;
    font-size: 0.9em;
  }

  & td:first-child {
    width: 240px;
  }
  & td:not(:first-child) {
    text-align: center;
  }
}
